/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ===================================== Base styles ======== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* overlay the photoshop comp to quickly check for layout */
.overlay {
  position: absolute;
  display: block;
  display: none;
  width: 1300px;
  z-index: 1000;
  opacity: .5;
  margin: auto; }

/* Set up custom web fonts */
@font-face {
  font-family: 'Chunk Five';
  src: url("fonts/chunk-webfont.eot");
  src: url("fonts/chunk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/chunk-webfont.woff") format("woff"), url("fonts/chunk-webfont.ttf") format("truetype"), url("fonts/chunk-webfont.svg#chunkfiveregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Junction';
  src: url("fonts/junction-webfont.eot");
  src: url("fonts/junction-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/junction-webfont.woff") format("woff"), url("fonts/junction-webfont.ttf") format("truetype"), url("fonts/junction-webfont.svg#junctionregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* global margin and layout styles */
body {
  font-family: "Junction", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased; }

/* --------- force a better box model ----------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ------ reset form elements --------- */
input, select, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit; }

.trans {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; }

.two-col {
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  text-align: justify; }

h2 {
  font: normal 20px/27px "Chunk Five", Georgia;
  color: #f16a4d;
  text-transform: uppercase;
  letter-spacing: 0.065em; }

.centered {
  margin: auto;
  /*
  width: 100%;
  max-width: 720px;
  */
  width: 720px;
  overflow: auto; }

/* ======================================== landing page styles ========== */
.header-area {
  background-color: #2b2e2c;
  overflow: auto; }

.main-header {
  height: 92px;
  font-size: 12px;
  line-height: 16px; }

.main-footer .logo-main {
  color: #bec0b8;
  width: 500px;
  float: left;
  background: transparent url(../img/AAOM-logo.png) no-repeat left 21px;
  padding: 0 0 0 100px;
  background-size: 84px; }
  .main-footer .logo-main .logo {
    color: #f16a4d;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: -0.045em;
    padding-top: 28px; }
  .main-footer .logo-main .tagline {
    font: normal 11px/16px "Junction", sans-serif; }

.logo-main {
  color: #bec0b8;
  width: 600px;
  float: left; }
  .logo-main .logo {
    color: #f16a4d;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: -0.045em;
    padding-top: 28px; }

.nav-main {
  float: right;
  margin-top: 55px;
  display: none; }
  .nav-main ul {
    margin: 0;
    padding: 0; }
  .nav-main li {
    display: inline-block; }
  .nav-main a {
    color: #7a817d;
    text-decoration: none; }

.email-signup {
  background-color: #fff;
  height: 45px;
  font: normal 11px/45px "Junction";
  color: #7a817d;
  letter-spacing: -0.035em;
  overflow: hidden; }
  .email-signup #mc_embed_signup {
    width: 360px;
    float: right; }
    .email-signup #mc_embed_signup form {
      padding: 0; }
    .email-signup #mc_embed_signup .mc-field-group {
      line-height: 36px;
      padding-top: 5px;
      padding-bottom: 0 !important;
      min-height: 100%;
      margin: 0;
      width: 360px; }
    .email-signup #mc_embed_signup #mc-embedded-subscribe {
      width: 90px;
      background-color: #454a46;
      color: #ffdd22;
      display: inline;
      font: normal 12px/20px "Junction";
      margin: 5px 0 0 0;
      padding-top: 4px;
      height: 34px; }
    .email-signup #mc_embed_signup #mce-EMAIL {
      width: 250px;
      display: inline;
      margin-right: 8px;
      font: normal 12px/16px "Junction"; }
    .email-signup #mc_embed_signup #mc_embed_signup form {
      text-align: right; }
  .email-signup .email-cta {
    width: 360px;
    display: block;
    float: left; }
  .email-signup input[type="email"] {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #999; }

.main-intro-area {
  height: 592px; }

.main-intro {
  color: #fff;
  padding-top: 25px;
  position: relative;
  overflow: visible; }
  .main-intro h1 {
    font: normal 42px/48px "Junction";
    letter-spacing: -0.065em;
    text-align: center;
    margin-top: 124px; }
/*
  .main-intro h3 {
    font: normal 20px/27px "Junction", Helvetica;
    font-size: 0.8em;
    color: #fff;
    line-height: 1.4em; }
*/

.blurb {
  padding: 100px 0; }
  .blurb h3 {
    font-size: 34px;
    line-height: 42px;
    color: #f16a4d;
    margin-top: 0;
    letter-spacing: -0.065em; }
  .blurb p {
    font: lighter 14px/21px "Junction" sans-serif; }
  .blurb .blurb-text {
    width: 440px;
    float: right; }
  .blurb #mc_embed_signup form {
    text-align: left;
    padding: 0;
    margin: 0; }
  .blurb #mc_embed_signup #mc-embedded-subscribe {
    background-color: #454a46;
    color: #ffdd22;
    font: normal 14px/36px "Junction";
    margin: 0; }

.coming-soon {
    margin-top: 68px;
    padding-top: 58px;
    text-align: center;
    background: transparent url(../img/compas.png) 50% top no-repeat; 
}
.coming-soon h3 {
    font: normal 27px/27px "Chunk Five";
    margin-bottom: 0.5em;
}
.coming-soon p {
    font: normal 17px/27px "Junction", Helvetica;
    color: #fff;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}
.mail-signup .cta {
    color: #666; 
}
.call-to-action-area {
    
}
.call-to-action {
    position: relative;
    background: #f16a4d url(../img/bg-form.jpg);
    width: 100%;
    left: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    color: #323733; 
    margin: auto;
}
.call-to-action h2 {
    text-align: center; 
}
.steps-container:after {
    position: absolute;
    bottom: -40px;
    z-index: 4;
    width: 0;
    height: 0;
    border-left: 360px solid transparent;
    border-right: 360px solid transparent;
    border-top: 40px solid #fff;
    content: "";
    left: 0;
}
.call-to-action img.steps {
    float: left;
    vertical-align: middle; 
}
.call-to-action .steptext {
    vertical-align: middle;
    margin-bottom: 60px;
    padding: 30px 0 0 60px;
    font: normal 16px/21px "Junction", "Helvetica Neue", Helvetica, Arial; 
}
.call-to-action .steptext.end {
    vertical-align: middle;
    padding-top: 30px; 
}
.steps-container {
    background-color: #fff;
    padding: 0 5% 1em;
    position: relative;
    width: 720px;
    margin: auto;
}
.steps-container:before {
    content: "";
    background-color: #fff;
    height: 30px;
    width: 100%;
    position: absolute;
    top: -2em;
    left: 0;
    z-index: 2000;
}
.steps-container h2 {
    margin-top: 0;
    padding-top: 4px;
}
.review-form-area {
  background: #f16a4d url(../img/bg-form.jpg);
  padding: 70px 1px 1px;
}

.review-form {
    position: relative;
    overflow: auto;
    /* padding-top: 200px; */ 
}
.review-form h3 {
    font-size: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center; 
}
.review-form h3:before, .review-form h3:after {
    content: "~"; 
}

.main-footer-area {
    background-color: #3a3e3b; 
}

/* ================ styles for the google form =============================== */

.form-intro {
        color: #fff;
        /* margin-top: 305px; */ 
}

.required-message, .error-message {
    color: #c43b1d;
    display: none;
    font-size: 13px; 
}

.ss-q-title {
    font: normal bolder 13px/42px "Junction", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff; 
}

.main-form-part-one {
  margin-bottom: 60px; }
  .main-form-part-one .ss-form-question {
    width: 340px;
    float: left;
    margin-bottom: 10px; }
    .main-form-part-one .ss-form-question:nth-child(odd) {
      margin-right: 40px; }
    .main-form-part-one .ss-form-question:last-child:after {
      content: "";
      display: table;
      clear: both; }
  .main-form-part-one input {
    color: #222;
    height: 42px;
    border-radius: 3px;
    border: none;
    padding: 0 14px;
    line-height: 42px; }
    .main-form-part-one input[class="ss-q-short"] {
      width: 100%; }
  .main-form-part-one .ss-choices {
    margin: 0;
    padding: 0; }
    .main-form-part-one .ss-choices:after {
      content: "i";
      font: italic bold 12px/16px Georgia, serif;
      background-color: #fff;
      color: #666;
      position: absolute;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-clip: padding-box;
      text-align: center; }
  .main-form-part-one .ss-choice-item {
    list-style-type: none;
    padding: 0;
    display: inline-block; }
  .main-form-part-one select {
    width: 340px; }

.main-form-part-two {
  margin-bottom: 100px; }
  .main-form-part-two .ss-form-question {
    margin-bottom: 20px; }
  .main-form-part-two .business-category input[type="radio"] {
    margin: 0 5px 20px 0; }
  .main-form-part-two .business-category .ss-choices {
    margin: 0;
    padding: 0; }
    .main-form-part-two .business-category .ss-choices:after {
      content: "i";
      font: italic bold 12px/16px Georgia, serif;
      background-color: #fff;
      color: #666;
      position: absolute;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      background-clip: padding-box;
      text-align: center;
      display: none; }
  .main-form-part-two .business-category .ss-choice-item {
    list-style-type: none;
    padding: 0;
    display: inline-block; }
  .main-form-part-two .business-category .ss-choice-label {
    margin-right: 20px;
    font-size: 14px; }
  .main-form-part-two .business-category .ss-q-title {
    position: static;
    top: 0; }
  .main-form-part-two input {
    color: #222; }
    .main-form-part-two input[class="ss-q-short"] {
      width: 100%; }
  .main-form-part-two #ss-submit {
    padding: 10px 18px 5px;
    font-size: 14px;
    line-height: 24px;
    border: none;
    background-color: #444;
    color: #ffdd22;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .main-form-part-two textarea {
    width: 100%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 24px 24px;
    font: normal 14px/21px "Junction" sans-serif; }
  .main-form-part-two .ss-leftlabel {
    padding-left: 0;
    width: 360px;
    text-align: right;
    padding-right: 16px; }
  .main-form-part-two .ss-leftlabel, .main-form-part-two .ss-rightlabel {
    font-size: 14px; }
  .main-form-part-two .aria-only-help {
    display: none; }
  .main-form-part-two .comments p {
    font-size: 14px; }
  .main-form-part-two .comments .ss-q-title {
    position: static; }

.ss-navigate .ss-secondary-text {
  display: none; }
.ss-navigate table {
  float: right; }

.ss-form-entry {
  position: relative; }

.ss-select {
  width: 100%;
  line-height: 42px;
  border: none;
  height: 42px; }

.ss-q-help {
  display: none;
  position: relative; }

/* ===================== styling for the infomation section =========== */
.phone-img {
  display: block;
  float: left;
  margin-right: 40px; }

.social-footer {
  display: block;
  width: 190px;
  float: right;
  margin-top: 63px; }
  .social-footer .social-cta {
    width: 150px;
    display: block;
    float: right;
    margin: 3px 0 0 10px;
    color: #fff;
    font: lighter 11px/16px "Junction" sans-serif; }
    .social-footer .social-cta:hover {
      color: #fff; }

.main-footer {
  padding: 0 0 60px 0;
  color: #fff; }
  .main-footer .tagline a:link, .main-footer .tagline a:visited {
    color: #fff;
    text-decoration: none; }
    .main-footer .tagline a:link:hover, .main-footer .tagline a:link:visited, .main-footer .tagline a:visited:hover, .main-footer .tagline a:visited:visited {
      text-decoration: underline; }

.icon-fb {
  padding: 2px 0 0 0;
  opacity: .6; }
  .icon-fb:hover {
    opacity: 1; }

.high-rating-criterion, .ratings-bullets, .low-rating-criterion {
    float: left;
}
.high-rating-criterion, .low-rating-criterion {
    width: 30%;
}
.high-rating-criterion {
    text-align: left;
}
.low-rating-criterion {
    text-align: right;
}
.ratings-bullets {
    width: 40%;
    text-align: center;
}
.rating-increment-container {
    padding: .5em;
}
/* === Helper classes ==== */

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }


@media screen and (max-width: 640px) {
    
    html {
        font-size: 0.9em;
    }
    
    .business-category label .ss-q-title {
        margin-bottom: 0.75em;    
    }
    .ss-form-section .ss-q-title {
        line-height: 1.5em;
    }
    .centered {
        width: 100%;
    }
    .main-header {
        height: auto;
        width: 90%;
        font-size: 16px;
        line-height: 20px; 
    }
    .main-header .tagline {
        display: none;
    }
    .email-area {
        padding-bottom: 1em;
    }
    .email-signup {
        height: 135px;
        font: normal 13px/45px "Junction";
        overflow: hidden; 
    }

    .logo-main {
        float: none;
        width: 90%;
        margin: auto;
        text-align: center;
    }
      .logo-main .logo {
        font-size: 18px;
        padding-top: 5px;
        line-height: 30px;
        letter-spacing: -0.035em;
    }
    .main-footer .logo-main {
        width: 100%;
        margin-left: 3%;
    }
    .main-footer .logo-main .logo {
        font-size: 22px;
    }
    .email-signup #mc_embed_signup {
        width: 100%;
        float: left; 
    }
    .email-signup #mc_embed_signup form {
        padding: 0 0 0 20px; 
    }
    .email-signup #mc_embed_signup .mc-field-group {
        width: 95%; 
    }
    .email-signup #mc_embed_signup #mc-embedded-subscribe {
        width: 95%;
        display: block;
        margin: 0 0 0 0;
    }
    .email-signup #mc_embed_signup #mce-EMAIL {
        width: 95%%;
    }
    .email-signup .email-cta {
        width: 90%;
        line-height: 16px;
        padding-top: 16px;
        padding-left: 20px;
    }
    .main-intro-area {
        height: 420px; 
    }
    .main-intro {
        padding: 5px 10px 0px 10px;
        position: static;
    }
    
    .main-intro h1 {
        font: normal 28px/32px "Junction";
        margin-top: 34px; 
    }
    .blurb {
        padding: 10px 0;
    }
    .blurb h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .blurb .blurb-text {
        margin: 0 10%; 
    }
    .coming-soon {
        margin-top: 38px;
    }
    .coming-soon p {
        font-size: 14px;
        color: #fff;
        line-height: 1.4em;
        -webkit-font-smoothing: antialiased;
    }
    .call-to-action {
        padding: 1% 4% 4%; 
        width: auto;
    }
    .steps-container {
        background-color: #fff;
        padding: 0 5% 1em;
        position: relative;
        width: 100%;
    }
    .steps-container:before {
        content: "";
        background-color: #fff;
        height: 30px;
        width: 100%;
        position: absolute;
        top: -2em;
        left: 0;
        z-index: 2000;
    }
    .steps-container:after {
        border: none;
    }
    .call-to-action:before {
        border:none;
    }
    .call-to-action img.steps {
        clear:both;
    }
    .call-to-action .steptext {
        display: block;
        margin-bottom: 30px;
        font: normal 14px/18px "Junction", "Helvetica Neue", Helvetica, Arial; 
    }
    .review-form-area {
      padding: 1px;
    }
    .review-form {
        display: block;
    }
    .review-form h3 {
        font-size: 22px;
        line-height: 22px;
        text-transform: uppercase;
    }
    .review-form h3:before, .review-form h3:after {
        content: ""; 
    }

    /* ================ styles for the google form =============================== */
    
    .form-intro {
/*         margin-top: 260px;  */
        padding: 5%;
    }
    .ss-q-title {
        font-size: 14px;
    }
    .main-form-part-one {
        margin-bottom: 60px; 
        padding: 0% 5%;
    }
    .main-form-part-one .ss-form-question {
        width: 100%;
    }
    .main-form-part-one input {
        height: 48px;
        border-radius: 5px;
    }
    .main-form-part-one select {
        width: 100%; 
    }
    .main-form-part-two {
        margin-bottom: 100px; 
        padding: 5%;
    }
    .main-form-part-two .business-category .ss-choice-item {
        display: block; 
    }
    .main-form-part-two .ss-leftlabel {
        width: 100%;
    }
    .high-rating-criterion, .ratings-bullets, .low-rating-criterion {
        float: none;
        width: 100%;
        text-align: left;
    }

    /* ===================== styling for the infomation section =========== */

    .phone-img {
        width: 200px;
        height: auto;
        padding: 5%;
        margin-left: auto;
        margin-right: auto; 
    }
    .social-footer {
        float: left;
        margin: 20px 0 0 20px;
    }
    .rating-increment-container {
        display: block;
    }
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
